// ProductGallery.scss
.product-gallery {
  position: relative;

  .slick-arrow {
    position: absolute;
    top: 50%;
    font-size: 24px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: rgba(0, 0, 0, 0.8);
    }
  }

  .slick-prev {
    left: 20px;
  }

  .slick-next {
    right: 20px;
  }

  .slick-prev::before,
  .slick-next::before {
    font-family: 'Arial', sans-serif;
    content: '';
    display: inline-block;
  }

  .slick-prev::before {
    content: '\2190';
  }

  .slick-next::before {
    content: '\2192';
  }

  .slick-slider {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
  }

  .slick-slide {
    img {
      width: calc(100% - 40px);
      max-height: 300px;  // Ajusta la altura máxima según tus necesidades
      object-fit: contain;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      transition: box-shadow 0.3s ease;

      &:hover {
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
      }
    }
  }
}


